@charset "utf-8";

/* General stuff */

body, html
{
	background-color: #646464;
	margin: 0 auto;
	height: auto;
	color: #333333;
	font-family: 'Helvetica', sans-serif;
}

.content-width
{
	position: relative;
	margin: 0 auto;
	width: 50em;
}


/* Top of page */

#page-top
{
	background-color: inherit;
}

#page-top-banner
{
	background-color: #F0F0F0;

	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.25em;
	padding-right: 0.25em;

	margin-top: 2em;
}


/* Middle of page */

#page-middle
{
	background-color: #C0C0C0;
	min-height: 20em;

	padding-top: 1em;
	padding-bottom: 0.2em;

	margin-top: 2em;
}

.post
{
	background-color: #F0F0F0;

	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.8em;
	padding-right: 0.8em;

	margin-top: 1em;
	margin-bottom: 2em;
}

/* Bottom of page */

#page-bottom
{
	background-color: inherit;

	padding-top: 1em;
}

#page-bottom-footer
{
	background-color: #F0F0F0;

	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	
	margin-top: 1em;
}