<div id="page-top">
	<div class="content-width">
		<div id="page-top-box" class="content-padding">
			<div id="page-top-banner">
				<a href="/"><img src="/assets/logo/skipifzero_logo_white_small.png"></a>
			</div>
			<div id="page-top-menu">
				<div style="float: right;">
					<div class="page-top-menu-item"><a href="/" style="color: inherit; font-style: normal; font-weight: 700;">posts</a></div>
					<div class="page-top-menu-item"><a href="/games.html" style="color: inherit; font-style: normal; font-weight: 700;">games</a></div>
					<div class="page-top-menu-item"><a href="/about.html" style="color: inherit; font-style: normal; font-weight: 700;">about</a></div>
					<div class="page-top-menu-item"><a href="https://github.com/PetorSFZ" style="color: inherit; font-style: normal; font-weight: 700;">github</a></div>
				</div>
			</div>
		</div>
	</div>
</div>