---
layout: post
---

<!DOCTYPE html>

{% include head.html %}

<!-- Body -->
<body>

{% include banner.html %}

<div id="page-middle">
	<div class="content-width">
		<div id="page-middle-content" class="content-padding">

			<div class="page-middle-post-header">
				{{ page.title }} 
				<div style="float: right;"> {{ page.date | date: "%Y-%m-%-d" }} </div>
			</div>

			{{ content }}

			<div class="page-middle-post-navigation">
				{% if page.previous.url %}
				<div style="float: left;"><a href="{{ page.previous.url }}">< {{ page.previous.title }}</a></div>
				{% endif %}

				{% if page.next.url %}
				<div style="float: right;"><a href="{{ page.next.url }}">{{ page.next.title }} ></a></div>
				{% endif %}
			</div>
			
		</div>
	</div>
</div>

{% include footer.html %}

</body>

</html>